*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.FCont{
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #F5F5F5;
    /*This is always on the main axis*/
    justify-content: space-between;
    /*Always on the cross axis*/
    align-items: end;
}

.item{
    width: 100px;
    height: 100px;
    background-color: #DC143C;
    color: #ffff;
    margin: 10px;
}


/*How to targetboxes

.item:nth-of-type(3){
    align-self: end;
}

.item:nth-of-type(2){
    align-self: center;
}

.item:nth-of-type(1){
    align-self: start;
}
